# Used by the "release.py" file to publish a release to GitHub
# (in the dist2 script, a.k.a. "build --publish always")
GH_TOKEN=""

# Used by the "release.py" file to upload the latest client version to the server
VPS_IP="isaacracing.net"
VPS_USER="root"
VPS_PASS=""
